{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<!--Navigation Breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">District Needs and Collection Centers</li>
  </ol>
</nav>

<h1 class="text-center">District Needs &amp; Collection Center</h1>
<h2 class="text-center">ജില്ലകളിലെ ആവശ്യങ്ങള്‍</h2>
<div class="">
  <table class="table">
    <tr>
      <th>District</th>
      <th>Items required</th>
      <th>Contacts & Collection points</th>
      <th>Inventory</th>
	  <th></th>
    </tr>
  {% for item in district_data %}
    <tr valign="top">
      <td><strong>{{item.get_district_display}}</strong></td>
      <td>
        {{item.needs|linebreaks}}
      </td>
      <td>
        {{item.cnandpts|linebreaks}}
      </td>
      <td>
        {{item.inventory|linebreaks}}
      </td>
	  <td>
		<button class="btn btn-primary" onclick="copy_content_or_share(this);">Share/Copy</button>
	  </td>
    </tr>
    {% endfor %}
  </table>
</div>
<script>
function copy_content_or_share(elem) {
	var ths = document.getElementsByTagName('th');
	var copy_text = '';
	var tds = elem.parentElement.parentElement.childNodes;
	for(var i = 0;i<tds.length-1;i++) {
		copy_text = copy_text+ths[i].innerText.toUpperCase()+'\n\n'+tds[i].innerText+'\n\n';
	}
	var tempInput = document.createElement("textarea");
    tempInput.style = "position: absolute; left: -1000px; top: -1000px";
    tempInput.innerHTML = copy_text;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
	if (navigator.share) {
	navigator.share({
      text: copy_text
	})
    .then(() => console.log('Successful share'))
    .catch((error) => console.log('Error sharing', error));
	}
}
</script>
{% endblock %}
